@use "./partials/_variables.scss" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";

header {

    background-color: $backgroundHeader;
    width: 100%;
    display: flex;
    align-items: center;



      ul {
        display: flex;
        align-items: center;
        margin: auto;

        li {
          list-style: none;
          margin: 10px;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-weight: bold;

            &:hover {
              color: #0282f9;
            }

            &:after {
              content: '';
              display: block;
              height: 5px;
              width: 100%;
              margin: 0 auto;             
              background-color: transparent;
              position: relative ;
              top: 53px;
            }
            &.active:after,
            &:hover:after {
              background-color: #0282f9;
            }
          }
        
      }
    }
  }





#jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 450px;
}

main {
    background-color: $backgroundMain;
}

.card {
    margin-bottom: 50px;
    min-height: 300px;
    background-color: transparent;
    color: white;

    img {
        min-height: 300px;
    }
}

#footer_top {
    background-color: $backgroundFooterTop;
    li {
        width: calc(100% / 5);

        img {
            max-height: 50px;
        }
    }
}

#footer_mid {
    background-image: url("../img/footer-bg.jpg");

    #list {
        width: 30%;
        height: 390px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 30px 0px;
        margin-left: 10px;

        #list_links {
            margin-left: 15px;
            li {
                a {
                    color: grey;
                    text-decoration: none;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    #dc-comics {
        width: 70%;
        background-image: url("../img/dc-logo-bg.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 65%;
    }
}

#footer_bot {
    background-color: $backgroundFooterBottom;

    button {
        padding: 10px;
        border: 2px solid $backgroundFooterTop;
        background-color: $backgroundFooterBottom;
        color: white;
        margin: 30px 0px;

        &:hover {
            background-color: $backgroundFooterTop;
        }
    }

    div {
        #follow {
            color: $backgroundFooterTop;
            margin-right: 10px;
        }

        img {
            margin: 0px 10px;
        }
    }
}
